.display {
    border: lightseagreen solid 5px;
    border-radius: 20px;
    width: 500px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valueStyle {
    font-size: 80px;
    color: #FFFFFF;
}

.disableStyle {
    font-size: 80px;
    color: #fd0000;
}

.displayInfoStyle {
    font-size: 35px;
    color: #FFFFFF;
}

.errorStyle {
    font-size: 35px;
    color: #fd0000;
}